<div class="relative flex flex-col lg:flex-row h-screen mx-auto  justify-center	grayscale">
  <div class="absolute inset-0 lg:relative lg:w-1/2">
    <%= image_tag "io.webp", alt: "Background Image", class: "w-full h-full object-cover object-center" %>
  </div>
  <div class="relative w-full lg:w-1/2 flex flex-col justify-center lg:p-12 bg-white bg-opacity-65 lg:bg-transparent z-10">
    <div class="text-center p-8 rounded flex flex-col gap-4 items-end	">
      <h1 class="text-4xl lg:text-right">Hi! I'm Nilthon Jhon Rojas Apumayta</h1>
      <p class="text-2xl max-w-2xl lg:text-right">
        I am passionate about technology and software, with experience in various companies and expertise in Ruby on Rails. I love taking on new challenges and staying updated on the latest industry trends.
        </p>
    </div>
  </div>
</div>
<section id="skills" class="bg-white p-8 flex flex-col gap-4 ">
  <div class="flex lg:flex-row flex-col gap-4 py-8">
    <div class="mx-auto flex flex-col text-center gap-8">
      <h2 class="text-4xl">Skills</h2>
      <div class="text-xl flex flex-wrap justify-center	gap-4">
        <p>Ruby</p>
        <p>Python</p>
        <p>Javascript</p>
        <p>Typescript</p>
        <p>Sql</p>
        <p>Ruby on Rails</p>
        <p>Django</p>
        <p>Angular</p>
        <p>Vue JS</p>
        <p>Rspec</p>


        <p>Sidekiq</p>
        <p>Devise</p>
        <p>Vue JS</p>
        <p>Ransack</p>
        <p>Activeadmin</p>
        <p>Turbo</p>
        <p>Hotwire</p>
        <p>LlamaIndex</p>
        <p>LangChain</p>
        <p>LangChain</p>
        <p>Docker</p>
        <p>Aws</p>
        </div>
      </div>
    </div>
</section>
<!--
<section id="experience" class="bg-white p-8 flex flex-col gap-8">
  <h2 class="text-4xl text-center ">Experience</h2>
  <div class="flex gap-8 flex-row flex-col 	">
    <div class="p-8 bg-black op text-white shadow-lg rounded-sm flex flex-col justify-between w-full min-h-60 text-right">
      <h3 class="text-lg font-bold mb-3">Senior Software Developer</h3>
      <p class="mb-3">Advice Group, Ott 2023 - Presente, Milano, Italia</p>
      <p class="mb-3">Development and maintenance of the Leevia platform, including AI platform development utilizing LLM</p>
      <div class="flex justify-end">
        <a href="https://advicegroup.it/" target="_blank"  class="px-5 py-2 hover:bg-black hover:text-white bg-white border border-white text-black text-lg "> Advice Group </a>
      </div>
    </div>
    <div class="p-8 bg-black text-white shadow-lg rounded-sm flex flex-col justify-between w-full min-h-60 text-left">
      <h3 class="text-lg font-bold mb-3">Software Developer</h3>
      <p class="mb-3">Leevia, Apr 2022 - Presente, Milano, Italia</p>
      <p class="mb-3">Development and maintenance of the Leevia platform, introduction to Kubernetes</p>
      <div class="flex justify-start">
        <a href="https://www.leevia.com/" target="_blank"  class="px-5 py-2 hover:bg-black hover:text-white bg-white border border-white text-black text-lg "> Leevia </a>
      </div>
    </div>
    <div class="p-8 bg-black text-white shadow-lg rounded-sm flex flex-col justify-between w-full min-h-60 text-right">
      <h3 class="text-lg font-bold mb-3">Software Developer</h3>
      <p class="mb-3">White Libra, Mar 2021 - Apr 2022, Milano, Italia</p>
      <p class="mb-3">Development and maintenance of the WhiteLibra platform, including JS framework like VueJS</p>
      <div class="flex justify-end">
        <a href="https://whitelibra.com/" target="_blank" class="px-5 py-2 hover:bg-black hover:text-white bg-white border border-white text-black text-lg "> White Libra </a>
      </div>
    </div>
    <div class="p-8 bg-black text-white shadow-lg rounded-sm flex flex-col justify-between w-full min-h-60 text-left">
      <h3 class="text-lg font-bold mb-3">Software Developer</h3>
      <p class="mb-3">Synergy Key, Ott 2018 - Mar 2021, Milano, Italia</p>
      <p class="mb-3">Development and maintenance of the EVO 360°, Notitia</p>
      <div class="flex justify-start">
        <a href="https://www.synergykey.it/it" target="_blank"  class="px-5 py-2 hover:bg-black hover:text-white bg-white border border-white text-black text-lg "> Synergy Key </a>
      </div>
    </div>
  </div>
</section>
-->

<section id="articles" class="bg-white p-8 flex flex-col gap-8">
  <h2 class="text-4xl text-center ">Articles</h2>
  <div class="flex gap-4 justify-center text-xl">
    <a href="https://medium.com/mad-chatter-tea-party/cheshire-cat-ai-plugin-aichatsql-12994a8f576b" target="_blank"  class="bg-black text-white px-5 py-2">
      Cheshire-Cat plugin SQL
    </a>
    <a href="https://www.vita.it/agevolup-lapp-per-i-ragazzi-fuori-famiglia/" target="_blank" class="bg-black text-white px-5 py-2">
      Agevol’up
    </a>
  </div>
</section>

<section id="contact" class="p-8 bg-white text-center">
  <h2 class="text-4xl mb-5">Contacts</h2>
  <p class="text-xl">Email: jhon.apu97@gmail.com</p>
  <p class="text-xl">LinkedIn: <a href="https://www.linkedin.com/in/nilthon-jhon-rojas-apumayta-87634913a/" class="text-blue-500">Nilthon Jhon Rojas Apumayta</a></p>
</section>


